.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

*{
  background-color: antiquewhite;
  font-family:Outfit;
}

body{
background-color: #f0f0f0;
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
margin: 0;
}

.first{
  background-color: white;
  height: 65vh;
  width: 300px;
  border-radius: 20px;
  padding: 20px;
}

.first img{
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.txt1{
  background-color: white;
  margin-top: 10px;
  Font-size: 25px;
  font-weight: 700;
  text-align: center;
  color:hsl(218, 44%, 22%);
}

.txt2{
  background-color: white;
  margin-top: 30px;
  color: hsl(220, 15%, 55%);
  text-align: center;
}